:root {
    --pink: #e71f82;
}

body, html {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
  }

.bg {
    background-image: url("Images/wall.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1em;
    font-size: 4rem;
    font-family: 'Twinkle Star', cursive;
    color: var(--pink);
    border: 6px solid var(--pink);
    text-shadow: 2px 0.6px;
    background-color: rgba(231, 31, 130, 0.25);
    border-radius: 10px;
    transition: 0.4s all ease-in-out;

}


.shadow {
    content: "";
    position: absolute;
    transition: 0.4s all ease-in-out;
    background-color: var(--pink);
    top: 90%;
    left: 0%;
    filter: blur(70px);
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35)
}

.shadow-top {
    content: "";
    position: absolute;
    transition: 0.4s all ease-in-out;
    background-color: var(--pink);
    bottom: 90%;
    left: 0%;
    filter: blur(70px);
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(-20deg) scale(1, 0.35)
}

.content:hover .shadow {
    transition: 0.4s all ease-in-out;
    background-color: var(--pink);
    box-shadow: 0px 3px 70px 33px var(--pink);
}

.content:hover .shadow-top {
    transition: 0.4s all ease-in-out;
    box-shadow: 0px 3px 33px 70px var(--pink);
    background-color: var(--pink);
}

.content:hover {
    transition: 0.4s all ease-in-out;
    box-shadow: 0px 3px 70px 33px var(--pink);
    border-color: var(--pink);
    color: black;
    background-color: var(--pink);
}

